/**
 * @name abhsi
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232448
 * @BDEditor Frosted Glass
*/

@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://plusinsta.github.io/discord-plus/src/DiscordPlus-plugins.theme.css');
@import url('https://plusinsta.github.io/discord-plus/src/DiscordPlus-extras.theme.css');
/* Main fonts */
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700|Righteous);
/* Localized fonts */
@import url(https://fonts.googleapis.com/css2?family=Kosugi&family=RocknRoll+One&family=Gothic+A1&family=Black+Han+Sans&family=PT+Sans+Caption&family=Russo+One&family=Palanquin+Dark&family=Raleway:wght@500&family=Commissioner&family=Alegreya+Sans:wght@700&family=Mitr&family=Lalezar&display=swap);

:root {
  --background-image: url('https://i.imgur.com/YnNNbny.jpg');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://i.imgur.com/KkjN7z7.jpg');
  --popout-image-blur: 0px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: url('https://i.imgur.com/f1i0Xvr.jpg');
  --overlay-image-blur: 0px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://i.imgur.com/tmsD8Kp.jpg');
  --home-button-size: 150%;
  --home-button-position: center;
  --serverlist-brightness: 0.8;
  --left-brightness: 0.8;
  --middle-brightness: 0.6;
  --right-brightness: 0;
  --overlay-brightness: 0.75;
  --gradient-primary: 103,58,183;
  --gradient-secondary: 10,19,70;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 320deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: "GG Sans";
  --window-padding: 0px;
  --window-roundness: 15px;
  --update-notice-1: none;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */
header, h1,
.nameAndDecorators-3ERwy2, /*name in member list*/
.headerNameWrapper-3res2c, /*nickname in profile popup*/
.username-h_Y3Us, /*username in chat*/
.headerText-15Q25Z, /*username#tag in profile popup*/
.nickname-2gQ76l, /*nickname in profile popup*/
.nameTag-sc-gpq, /*your username in the bottom-left*/
.detailsInner-2IFSJC, /*settings: your username in My Account*/
.activityName-3YXl6e, /*user's activity name, includes song and author titles*/
.emojiUploader-1f0pVx, /*server settings: emoji's uploader*/
.userHook-3AdCBF, /*server settings: username in audit log*/
.secondaryHeader-2oeRPO, /*server settings: integrations row headers such as bot names*/
.roleName-2ZJJYR, /*role name in profile*/
.roleName-35qCvR, .roleName-3910zV, /*role name in server settings*/
.membersGroup-2eiWxl, /*role name in member list*/
.roleRow-3HnunM, /*role name in context menu*/
.roleMention-11Aaqi, /*role name mention in chat*/
.wrapper-1ZcZW-, /*username or channel name mention in chat*/
[data-slate-object="inline"] .mention, /*mention in message box*/
.systemMessage-1H1Z20 .anchorUnderlineOnHover-2qPutX, /* links / usernames in system messages */
.name-3BUDLf, /*category name in sidebar*/
.name-28HaxV, /*channel name in sidebar*/
.title-17SveM, /*channel name in chat header*/
.title-3hptVQ, /*channel name in channel topic popup*/
.bd-author, .bd-meta .bd-link, /*BD: plugin/theme author*/
.timestamp-p1Df1m /*chat message hover timestamp (counts as a header)*/ {
	font-family: var(--dplus-font-header), 'Righteous', var(--dplus-font-header-ja), 'RocknRoll One', var(--dplus-font-header-ko), 'Black Han Sans', var(--dplus-font-header-ru), 'Russo One', var(--dplus-font-header-hi), 'Palanquin Dark', var(--dplus-font-header-th), 'Mitr', var(--dplus-font-header-el), 'Alegreya Sans', 'Lalezar', 'Century Gothic', 'Franklin Gothic Medium', 'Britannic', 'Helvetica Neue', 'Helvetica', 'Whitney', sans-serif !important;
}
.chat-2ZfjoI, .wrapper-22ayhK {
	background-color: transparent;
	border-radius: var(--dplus-radius-ui);
}
.chatContent-3KubbW, .form-3gdLxP:before, .replying-eZ7p5z:before {
	background: transparent !important;
}
.wrapper-15CKyy, #app-mount .children-3xh0VB:after {display: none;}
.group-spacing-0 { --group-spacing: 0px; }
.group-spacing-4 { --group-spacing: 4px; }
.group-spacing-8 { --group-spacing: 8px; }
.group-spacing-16 { --group-spacing: 10px; }
.group-spacing-24 { --group-spacing: var(--dplus-spacing-ui); }
.messageListItem-ZZ7v6g .message-2CShn3,
.quotedChatMessage-PxNsZi .message-2CShn3 {
	background: var(--dplus-bgc-chatmsg);
}
.messageListItem-ZZ7v6g .groupStart-3Mlgv1, .backgroundFlash-1X5jVs.groupStart-3Mlgv1, .quotedChatMessage-PxNsZi .groupStart-3Mlgv1 {
	border-radius: var(--dplus-radius-ui) var(--dplus-radius-ui) 0 0;
  margin-top: 0;
}
:not(.divider-IqmEqJ) + .messageListItem-ZZ7v6g:has(.groupStart-3Mlgv1), .messageListItem-ZZ7v6g + .backgroundFlash-1X5jVs:has(.avatar-2e8lTP) {
  margin-top: var(--group-spacing);
}
.wrapper-30-Nkg:hover, .wrapper-30-Nkg.selected-2LX7Jy {
	background: var(--dplus-bgc-chatmsg-hover) !important;
}
.scrollerSpacer-3AqkT9 { height: var(--dplus-spacing-ui);}
.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz[aria-labelledby*="upload"] {background-color: var(--dplus-bgc-chatmsg);}
.cozy-VmLDNB .repliedMessage-3Z6XBG {max-width: 100%;}
		/* Beginning of chat */
.container-1yy5xN {
	background: var(--dplus-bgc-chatmsg);
	border-radius: 0 0 var(--dplus-radius-ui) var(--dplus-radius-ui);
	margin: 0;
	padding: var(--dplus-spacing-ui);
}
.container-ZMc96U.themed-Hp1KC_ {
	background: var(--dplus-bgc-ui-base);
}
	/* New/Old/Load messages bar */
.newMessagesBar-1hF-9G {
	background-color: var(--dplus-accent-ui) !important;
	border-radius: 0 0 var(--dplus-radius-ui) var(--dplus-radius-ui) !important;
	width: 100%;
}
.newMessagesBar-1hF-9G button:last-child {
	font-size: 12px;
	text-transform: lowercase;
}
.barBase-3xxDXu {
	padding: 0;
	left: 0; right: 0;
}
#app-mount .jumpToPresentBar-9P20AM {
	background-color: var(--dplus-accent-ui);
	border-radius: var(--dplus-radius-ui) var(--dplus-radius-ui) 0 0;
	bottom: 0;
	padding: 0;
	cursor: pointer;
	z-index: 2;
}
.hasMore-3e72_v {
	background: var(--dplus-bg-1);
	color: var(--dplus-accent-ui);
	border: 2px solid var(--dplus-accent-ui);
	margin: 0
}

.messageListItem-ZZ7v6g:has(+ .messageListItem-ZZ7v6g .avatar-2e8lTP,  + .backgroundFlash-1X5jVs .avatar-2e8lTP, + .scrollerSpacer-3AqkT9, + .divider-IqmEqJ ) .groupStart-3Mlgv1:has(.avatar-2e8lTP), 
.quotedChatMessage-PxNsZi:has(+ .messageListItem-ZZ7v6g .groupStart-3Mlgv1, > div) .groupStart-3Mlgv1:has(.avatar-2e8lTP),
.backgroundFlash-1X5jVs:has(+ .messageListItem-ZZ7v6g .avatar-2e8lTP, + .backgroundFlash-1X5jVs .avatar-2e8lTP, + .divider-IqmEqJ) .groupStart-3Mlgv1:has(.avatar-2e8lTP) {min-height: calc(var(--dplus-spacing-ui) + var(--dplus-icon-avatar-chat))!important;}
.cozy-VmLDNB.wrapper-30-Nkg {padding-left: calc(var(--dplus-icon-avatar-chat) + var(--dplus-spacing-ui) * 2);}
.groupStart-3Mlgv1,
.divider-IqmEqJ + .messageListItem-ZZ7v6g .message-2CShn3, 
.divider-IqmEqJ + .backgroundFlash-1X5jVs .message-2CShn3 {
    border-radius: var(--dplus-radius-ui) var(--dplus-radius-ui) 0 0;
}
.divider-IqmEqJ:not(.hasContent-31hcsn) {margin: 0; top: 0!important;}
.divider-IqmEqJ.beforeGroup-1BvJAt, .divider-IqmEqJ.hasContent-1y12-u {margin-top: var(--group-spacing)!important;}
.divider-IqmEqJ:not(#---new-messages-bar) {
  border: none;
  height: fit-content;
  margin-top: var(--group-spacing)!important;
}
.divider-IqmEqJ.hasContent-1y12-u {
  margin-left: 0 !important;
  margin-bottom: 0!important;
  justify-content: start;
}

.messagesWrapper-RpOMA3:not(.group-spacing-0) .divider-IqmEqJ.hasContent-1y12-u .content-3spvdd {
  margin-left: var(--dplus-radius-ui) !important;
}
.messagesWrapper-RpOMA3.group-spacing-0 .divider-IqmEqJ.hasContent-1y12-u {margin: 0;}
.content-3spvdd {border-radius: var(--dplus-radius-ui) var(--dplus-radius-ui) 0 0;}
/*in chat timestamps*/
.timestampVisibleOnHover-9PEuZS {
	transition: var(--dplus-anim-short);
}
.timestampVisibleOnHover-9PEuZS time {
	padding: calc(var(--dplus-spacing-ui) / 2);
	background: var(--dplus-bgc-popout);
	border-radius: var(--dplus-radius-ui);
}
.timestampVisibleOnHover-9PEuZS time:nth-child(2) {
	margin-left: var(--dplus-spacing-ui);
}
.timestampVisibleOnHover-9PEuZS.alt-1dvXnH {
	left: calc(-5px + var(--dplus-spacing-ui) / 2) !important
}
.timestamp-p1Df1m.alt-1dvXnH,
.compact-2Nkcau .timestamp-p1Df1m {
	width: 64px !important;
}
      /*- 12.4.4 Embeds / Attachments -*/	
.embed-hKpSrO {
	border-radius: var(--dplus-radius-ui);
}
#app-mount .attachment-1PZZB2,
#app-mount .wrapper-1FP9YQ {
	background-color: var(--dplus-bgc-popout)!important;
	border-color: var(--dplus-accent-ui) !important;
}
.attachment-1PZZB2,
.wrapper-1FP9YQ,
.audioControls-3fmemK,
.videoControls-2NzHnF {
	border-radius: var(--dplus-radius-ui) !important;
}
.small-1bZsRQ[style*="transform"] {background-color: var(--background-accent)!important;}
      /*- 12.4.5 Message Box -*/
.chat-2ZfjoI form {
	border-top: none;
  box-shadow: none;
	margin: 0 10px 0 0;
  display: flex;
  padding: 0;
  flex-direction: column-reverse;
}
#app-mount .channelTextArea-1FufC0 {
	background-color: transparent;
	margin-top: var(--dplus-spacing-ui)!important;
	margin: 0;
}
.wrapper-2SplAX {
	height: 12px;
	background: var(--dplus-bgc-ui-card);
	margin-top: var(--dplus-spacing-ui);
	border-radius: var(--dplus-radius-ui);
}
.typing-2J1mQU {
  position: static;
  height: 0;
  overflow: visible;
}
.channelbodyAreaDisabled-8rmlrp {
	background: var(--dplus-bgc-ui-card);
}
.scrollableContainer-15eg7h {
	overflow-y: auto;
	background-color: var(--dplus-bgc-chatmsg);
	border-radius: var(--dplus-radius-ui);
}
.webkit-QgSAqd .buttons-uaqb-5 {
	margin-right: calc(var(--dplus-spacing-ui) - 6px);
}
.attachedBars-2BCP3l + .scrollableContainer-15eg7h {
	border-radius: 0 0 var(--dplus-radius-ui) var(--dplus-radius-ui);
}

.wrapper-1VLyxH foreignObject, .callAvatarMask-fiNMWy foreignObject, .wrapper-1VLyxH + svg foreignObject, .avatarContainerMasked-13fYnN foreignObject, .avatarHint-k7pYop foreignObject,
.wrapper-3Un6-K foreignObject {mask: none;}
.wrapper-3Un6-K img, .wrapper-1VLyxH img, .voiceAvatar-lRbblo, .border-2BJQjd, .avatarHint-k7pYop, .wrapper-3mYmFS.ringingIncoming-fibTw-:after, .wrapper-3mYmFS.ringingOutgoing-1NjfRn:after, .avatar-2e8lTP, .option-2KkUJO.user-23VtPS .displayAvatar-3XS1w6  {
	border-radius: var(--dplus-radius-avatar) !important; }
.avatar-2e8lTP.clickable-31pE3P:active {translate: none;}

.settingsBanner-1eDJ5w {
  width: 100%;
  height: 240px;
  margin-bottom: -140px;
  z-index: -1;
  border-radius: var(--dplus-radius-ui);
}

.accountProfileCard-lbN7n- {
  backdrop-filter: opacity(1);
}
.settingsBanner-1eDJ5w::after {
  display: block;
  content: "";
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.667;
}
.theme-light .settingsBanner-1eDJ5w::after { background: white; }
.theme-dark .settingsBanner-1eDJ5w::after { background: black; }

